.my-input-container {
    padding: 8px;
}

a {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.doc {
    max-width: 864px;
    margin: auto;
}

.googlefonts {
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue', sans-serif;
}

div.wrap {
    word-wrap: break-word;
    white-space: pre-line;
}